@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko&display=swap');


:root {
    /* Colors */
    --clr-primary: #99823D;
    --clr-secondary: #141414;
    --clr-gray-300: #3D3D3D;
    --clr-gray-100: #141414;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-milky: #EBEBEB;
    /* Font */

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-teko: 'Teko', sans-serif;

    --fw-400: 400;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    
}

:where(*) {
    font-size: clamp(.5rem, 3vw, 1rem);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: var(--ff-open-sans);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

#home {
    background: var(--clr-secondary);

}

#home > main {
    width: 90%;
    margin: auto;

}

.logo {
    position: absolute;
    inset: 0 auto auto 0;
    display: inline-block;
    padding: 2rem;
    background: var(--clr-primary);
}

.arch {
    font-size: 9px;
}

.made-with {
    display: inline-flex;
    margin-left: 25%;
    gap: 10px;
    font-size: 10px;
    color: var(--clr-white);
}

@media (max-width: 1225px) {
    p.made-with {
        display: none;
    }
}


.navbar {
    display: grid;
    place-items: center;
    gap: 6%;
    height: 68px;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

nav.bar {
    display: inline-block;
    grid-column-end: 3;
}

nav.bar > ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
    color: var(--clr-white);
    transition: all 300ms linear;
}


.navbar-opener, 
.close {
    display: none;
}


@media (max-width: 860px) {
    .navbar {
        justify-items: end;
    }
    nav.bar {
        position: relative;
    }
    .navbar-opener {
        display: block;
    }
    .close, .hamburger {
        display: block;
        width: 40px;
        aspect-ratio: 1;
        padding: .5rem;
        cursor: pointer;
    }

    nav.bar > ul {
        left: 100%;
        top: 0;
        position: fixed;
        flex-direction: column;
        background-color: var(--clr-secondary);
        height: 100vh;
        width: 50%;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    nav.bar > ul.active {
        translate: -100% 0;
    }
    .close {
        position: absolute;
        inset: 2vw 2vw auto auto;
        background-color: var(--clr-gray-100);
        pointer-events: none;
    }
    .navbar-opener > input.is-open {
        z-index: 1;
        position: absolute;
        inset: 0;
        opacity: 0;
    }
    .navbar-opener:has(input.is-open:checked) + ul.navigation {
        translate: -100% 0;
    }
}

.bg-image {
    max-width: 978px;
    width: 100%;
    object-fit: cover;
}

.intro-box {
    position: absolute;
    background-color: var(--clr-white);
    padding: 3rem;
    inset: 9rem 3rem auto auto;
    max-width: 584px;
    box-shadow: 163px 260px 0 -46px var(--clr-primary);
    transition: background-color 500ms, backdrop-filter 700ms 500ms linear;
}

@media (max-width: 1300px) {
    .intro-box {
        background-color: rgba(255, 255, 255, .75);
        backdrop-filter: blur(2px);
    }
}


.label {
    font-size: 11px !important;
    text-transform: uppercase;
    color: var(--clr-primary);
    letter-spacing: 3px;
    line-height: 17px;
}

.motto {
    font-family: var(--ff-teko);
    text-transform: capitalize;
}

.intro-box > .motto {
    font-size: clamp(1.5rem, 10vw, 67px);
}

.intro-description {
    margin-block: 1rem;
}

.intro-box > .button-group {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.intro-box button {
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--clr-white);
    border: 0;
    cursor: pointer;
}

button.primary {
    background-color: var(--clr-primary);
    padding: 1rem;
}

button.secondary {
    background-color: var(--clr-secondary);
    padding: 1rem;
}



.social-box {
    height: 68px;
    background-color: var(--clr-milky);
}



.social-media {
    margin-block-start: -10px;
    display: flex;
    list-style: none;
    height: 100%;
    gap: 2rem;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 3px;
}

@media (max-width: 680px) {
    .social-media {
        margin-block-start: 0;
        flex-direction: column;
    }
    .social-box {
        height: auto;
    }
}
.social-media > li {
    font-size: 12px;
}

#about {
    width: 85%;
    margin: auto;
    padding-block: 8rem 15rem;
    box-shadow: 0 0 0 100vmax var(--clr-milky);
    clip-path: inset(0 -100vmax);
    background: var(--clr-milky);
}

#about .motto {
    font-size: 53px;
    line-height: 52.96px;
}

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.25rem;
    row-gap: 4rem;
}






.about {
    width: 52vw;
}

.about p {
    margin-block: 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 11px;
}


.news .name {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.news time {
    font-size: 11px !important;
    text-transform: uppercase;
    color: var(--clr-primary);
    letter-spacing: 2.76px;
}

.news .news-title {
    font-size: 26px;
    font-family: var(--ff-teko);
    text-transform: capitalize;
}

.achievements {
    display: grid;
    grid-column-end: span 2;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    
}

.achievement > h2.number {
    font-size: 59px;
    line-height: 59px;
    font-family: var(--ff-teko);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.divider {
    background-color: var(--clr-primary);
    width: 9px;
    height: 9px;
}

.achievement > .label {
    text-align: center;
}

@media (max-width: 535px) {
    .achievements {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .achievements > .divider.two {
        visibility: hidden;
    }
}


#projects {
    position: relative;
    height: 20rem;
}

#projects::after {
    content: "";
    position: absolute;
    background: #222;
    width: 11px;
    aspect-ratio: 1;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
}


.project-design {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: -50%;
}

.design-img {
    width: 30.22vw;
    max-width: 412px;
    max-height: 348px;
    position: relative;
    aspect-ratio: 1.18620689655 / 1;
}


@media (max-width: 800px) {
    #projects {
        height: 120vw;
    }
    .project-design {
        align-items: center;
        flex-direction: column;
        top: -25%;
        gap: 2rem;
    }
    .design-img {
        width: 50%;
    }
}

.badge {
    position: absolute;
    background: var(--clr-secondary);
    color: var(--clr-white);
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-size: 11px !important;
    letter-spacing: 2.72px;
}

.design-img > img {
    width: 100%;
}

.design-img > .title {
    background: var(--clr-black);
    color: var(--clr-white);
    width: fit-content;
    padding-inline: clamp(3.5rem, 9vw, 5.75rem);
    position: absolute;
    padding-block: 1rem 1.5rem;
    bottom: 0;
    font-size: clamp(1rem, 2vw, 1.625rem);
    font-family: var(--ff-teko);
    z-index: 1;
}

.design-img > .type {
    font-size: 11px !important;
    font-family: var(--ff-open-sans);
    position: absolute;
    text-transform: uppercase;
    background: var(--clr-primary);
    color: var(--clr-white);
    inset: auto 0 0 auto;
    line-height: 34px;
    letter-spacing: 2.78px;
    padding-inline: 2rem;
    padding-block-end: 4.75rem;
}



#services {
    margin-block: 2rem 6.275rem;
    width: 80%;
    margin-inline: auto;
}

#services .label {
    margin-block: 2rem;
    width: 80%;
    margin-inline: auto;
    text-align: center;
}


#services .motto {
    font-size: 53px;
    text-align: center;
    margin: auto;
    font-weight: 700;
    max-width: 37rem;
}

.services {
    margin-top: 7.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.25rem;
}

.services .service {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.service .top {
    display: flex;
    gap: 1rem;
}


.service .item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.service .order {
    font-size: 11px !important;
    letter-spacing: 2.76px;
    line-height: 16.58px;
    color: var(--clr-primary);
}

.service .name {
    text-transform: capitalize;
    font-size: 26px;
    font-family: var(--ff-teko);
}

#services .all-services {
    margin-block-start: 5.625rem;
    text-align: center;
}

.all-services button.primary {
    font-size: 12px;
    line-height: 17.85px;
    text-transform: uppercase;
    letter-spacing: 2.97px;
    color: var(--clr-white);
    padding: 1.5rem 7.5rem;
    border: 0;
    cursor: pointer;
}

@media (max-width: 575px) {
    .services {
        grid-template-columns: 1fr !important;
    }
}

#contact {
    padding-block-start: 3rem;
    background-color: var(--clr-milky);
    position: relative;
}


.partners {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    margin-block-end: 8.375rem;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    row-gap: 1rem;
}

@media (max-width: 1000px) {
    .partners {
        grid-template-columns: repeat(5, 1fr);
    }
    .partners > .divider.three.hide {
        visibility: hidden;
    }
}

@media (max-width: 888px) {
    .partners {
        grid-template-columns: repeat(3, 1fr);
    }
    .partners > .divider.two.hide {
        visibility: hidden;
    }
}

@media (max-width: 535px) {
    .partners {
        grid-template-columns: repeat(2, 1fr);
    }
    .partners > .divider {display: none;}
    .partner:last-child {
        grid-column: span 2;
    }
}

.partner {
    position: relative;
}


.partner:last-child::after {
    display: none;
}

nav.footer-nav {
    background-color: var(--clr-gray-300);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 3rem;
    padding-block-end: 4rem;
    z-index: 1;
}

ul.navigation {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: var(--clr-white);
    line-height: 34px;
    letter-spacing: 2.76px;
    
    gap: 2rem;
}

ul.navigation > li * {
    font-size: 11px !important;
}

.user-feedback {
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 0;
    display: flex;
    gap: 1rem;
    width: 83%;
    margin: auto;
    padding: 2rem;
    margin-block-start: -4rem;
    background-color: var(--clr-primary);
    z-index: 2;
}

.user-feedback > input {
    font-size: 11px !important;
    padding: .5rem 2rem;
    width: 100%;
    border: 0;
    height: 3rem;
    letter-spacing: 2.76px;
    outline: none;
    text-transform: uppercase;
}

.user-feedback > button.secondary {
    font-size: 11px !important;
    color: var(--clr-white);
    border: 0;
    padding-inline: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 2.76px;
}

.signature {
    height: 3rem;
    position: relative;
}

.sign {
    display: flex;
    list-style: none;
    padding: 4rem 6.3rem 1rem;
    width: 100%;
    text-transform: uppercase;
    background-color: var(--clr-gray-100);
    color: var(--clr-white);
    letter-spacing: 2.76px;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .sign {
        flex-direction: column;
        row-gap: .5rem;
        align-items: center;
    }
}

.sign .stack > li {
    font-size: 11px !important;
}

.sign .stack > li * {
    font-size: 11px !important;
}

.stack.left {
    display: flex;
    gap: 1.5rem;
}

.stack.right a {
    font-weight: bold;
}


@media (max-width: 900px) {
    .intro-box {
        position: static;
        max-width: initial;
        box-shadow: none;
        background-color: var(--clr-milky);
    }
    .social-box {
        padding-inline: 3rem;
    }
    #about {
        grid-template-columns: none;
    }
    .about {
        width: auto;
    }
    .achievements {
        grid-column-end: unset;
        grid-template-columns: repeat(5, 1fr);
    }
    .divider:nth-of-type(3n) {
        visibility: hidden;
    }
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    
    ul.navigation {
        display: none;
    }
}