@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko&display=swap');


:root {
    /* Colors */
    --clr-primary: #99823D;
    --clr-secondary: #141414;
    --clr-gray-300: #3D3D3D;
    --clr-gray-100: #141414;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-milky: #EBEBEB;
    /* Font */

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-teko: 'Teko', sans-serif;

    --fw-400: 400;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}


html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: var(--ff-open-sans);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

#home {
    background: var(--clr-secondary);

}

#home > main {
    width: 90%;
    margin: auto;

}

.logo {
    position: absolute;
    inset: 0 auto auto 0;
    display: inline-block;
    padding: 2rem;
    background: var(--clr-primary);
}

.arch {
    font-size: 9px;
}

.made-with {
    display: inline-flex;
    margin-left: 25%;
    gap: 10px;
    font-size: 10px;
    color: var(--clr-white);
}


.navbar {
    display: grid;
    place-items: center;
    gap: 6%;
    height: 68px;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

nav.bar {
    display: inline-block;
    margin-left: 5%;
}

nav.bar > ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
    color: var(--clr-white);
    
}


.bg-image {
    max-width: 978px;
    width: 100%;
    object-fit: cover;
}

.intro-box {
    position: absolute;
    background: var(--clr-white);
    padding: 3rem;
    right: 3rem;
    top: 9rem;
    max-width: 584px;
    box-shadow: 163px 260px 0 -46px var(--clr-primary);
}

.label {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--clr-primary);
    letter-spacing: 3px;
    line-height: 17px;
}

.motto {
    font-family: var(--ff-teko);
    text-transform: capitalize;
}

.intro-box > .motto {
    font-size: 67px;
}

.intro-description {
    margin-block: 1rem;
}

.intro-box > .button-group {
    width: 100%;
    display: flex;
    height: 68px;
    gap: 1rem;
}

.intro-box button {
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--clr-white);
    border: 0;
    cursor: pointer;
}

button.primary {
    background-color: var(--clr-primary);
}

button.secondary {
    background-color: var(--clr-secondary);
}

.social-box {
    height: 68px;
}

.social-media {
    margin-block-start: -10px;
    display: flex;
    background-color: var(--clr-milky);
    list-style: none;
    height: 100%;
    gap: 2rem;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 3px;
}

.social-media > li {
    font-size: 12px;
}

#about {
    width: 85%;
    margin: auto;
    padding-block: 8rem 15rem;
    box-shadow: 0 0 0 100vmax var(--clr-milky);
    clip-path: inset(0 -100vmax);
    background: var(--clr-milky);
}

#about .motto {
    font-size: 53px;
    line-height: 52.96px;
}

#about > main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.25rem;
    row-gap: 4rem;
}

.about {
    width: 42.75rem;
}

.about p {
    margin-block: 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 11px;
}


.news .name {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.news time {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--clr-primary);
    letter-spacing: 2.76px;
}

.news .news-title {
    font-size: 26px;
    font-family: var(--ff-teko);
    text-transform: capitalize;
}

.achievements {
    display: flex;
    grid-column: span 2;
    justify-content: space-around;
}

.achievement > h2.number {
    font-size: 59px;
    line-height: 59px;
    font-family: var(--ff-teko);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

h2.number::after {
    position: absolute;
    content: "";
    background-color: var(--clr-primary);
    width: 9px;
    aspect-ratio: 1;
    bottom: 50%;
    left: 170%;
}

.achievement:last-child > h2.number::after {
    display: none;
}

.achievement > .label {
    text-align: center;
}

#projects {
    position: relative;
    height: 20rem;
}

#projects::after {
    content: "";
    position: absolute;
    background: #222;
    width: 11px;
    aspect-ratio: 1;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
}


.project-design {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: -50%;
}

.design-img {
    height: 21.75rem;
    width: 25.75rem;
    position: relative;
}


.badge {
    position: absolute;
    background: var(--clr-secondary);
    color: var(--clr-white);
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2.72px;
}

.design-img > img {
    width: 412px;
}

.design-img > .title {
    background: var(--clr-black);
    color: var(--clr-white);
    width: fit-content;
    padding-inline: 5.75rem;
    position: absolute;
    padding-block: 1rem 1.5rem;
    bottom: 0;
    font-size: 26px;
    font-family: var(--ff-teko);
    z-index: 1;
}

.design-img > .type {
    font-size: 11px;
    font-family: var(--ff-open-sans);
    position: absolute;
    text-transform: uppercase;
    background: var(--clr-primary);
    color: var(--clr-white);
    inset: auto 0 0 auto;
    line-height: 34px;
    letter-spacing: 2.78px;
    padding-inline: 2rem;
    padding-block-end: 4.75rem;
}



#services {
    margin-block: 2rem 6.275rem;
    width: 80%;
    margin-inline: auto;
}

#services .label {
    margin-block: 2rem;
    width: 80%;
    margin-inline: auto;
    text-align: center;
}


#services .motto {
    font-size: 53px;
    width: 50rem;
    text-align: center;
    margin: auto;
}

.services {
    margin-top: 7.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6.25rem;
}

.services .service {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.service .top {
    display: flex;
    gap: 1rem;
}


.service .item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.service .order {
    font-size: 11px;
    letter-spacing: 2.76px;
    line-height: 16.58px;
    color: var(--clr-primary);
}

.service .name {
    text-transform: capitalize;
    font-size: 26px;
    font-family: var(--ff-teko);
}

#services .all-services {
    margin-block-start: 5.625rem;
    text-align: center;
}

.all-services button.primary {
    font-size: 12px;
    line-height: 17.85px;
    text-transform: uppercase;
    letter-spacing: 2.97px;
    color: var(--clr-white);
    padding: 1.5rem 7.5rem;
    border: 0;
    cursor: pointer;
}


#contact {
    padding-block-start: 3rem;
    background-color: var(--clr-milky);
    position: relative;
}


.partners {
    display: flex;
    justify-content: space-evenly;
    margin-block-end: 8.375rem;
}

.partner {
    position: relative;
}

.partner::after {
    content: "";
    position: absolute;
    width: 9px;
    aspect-ratio: 1;
    background: var(--clr-primary);
    top: 50%;
    translate: 0 -50%;
    right: -38%;
}


.partner:last-child::after {
    display: none;
}

nav.footer-nav {
    background-color: var(--clr-gray-300);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 3rem;
    padding-block-end: 4rem;
    z-index: 1;
}

ul.navigation {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: var(--clr-white);
    line-height: 34px;
    letter-spacing: 2.76px;
    font-size: 11px;
    gap: 2rem;
}

.user-feedback {
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 0;
    display: flex;
    gap: 1rem;
    width: 83%;
    margin: auto;
    padding: 2rem;
    margin-block-start: -4rem;
    background-color: var(--clr-primary);
    z-index: 2;
}

.user-feedback > input {
    font-size: 11px;
    padding: .5rem 2rem;
    width: 100%;
    border: 0;
    height: 3rem;
    letter-spacing: 2.76px;
    outline: none;
    text-transform: uppercase;
}

.user-feedback > button.secondary {
    font-size: 11px;
    color: var(--clr-white);
    border: 0;
    padding-inline: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 2.76px;
}

.signature {
    height: 3rem;
    position: relative;
}

.sign {
    display: flex;
    list-style: none;
    padding: 4rem 6.3rem 1rem;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    background-color: var(--clr-gray-100);
    color: var(--clr-white);
    letter-spacing: 2.76px;
    justify-content: space-between;
}

.stack.left {
    display: flex;
    gap: 1.5rem;
}

.stack.right a {
    font-weight: bold;
}